<section class="product-detail-banner">
  <div class="container">
    <div class="row">
      <div class="col-md-5 product-detail-left-sec">
        <lib-ngx-image-zoom
          [thumbImage]="myThumbnail"
          [magnification]="2"
          [enableScrollZoom]="true"
          [enableLens]="true"
          [lensWidth]="200"
        ></lib-ngx-image-zoom>
      </div>
      <div class="col-md-7 product-detail-right-sec">
        <h2>
          {{ skinTypeProductDetails?.attributes.brandName }}
        </h2>
        <p>
          {{ skinTypeProductDetails?.attributes.productName }}
        </p>
        <h3>${{ skinTypeProductDetails?.attributes.price }}</h3>
        <div class="add-cart">
          <span>- 1 +</span>
          <button (click)="openAddToCart(template)">Add to Bag</button>
          <a>Consult</a>
        </div>
        <h4>DEEP CLEANSES, SOFTENS, NOURISHES</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit,<br />
          sed diam nonummy nibh euismod tincidunt ut laoreet <br />dolore magna
          aliquam erat volut
        </p>
      </div>
    </div>
  </div>
</section>

<section class="about-this-product">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h3>About This Product</h3>
        <p>
          {{ skinTypeProductDetails?.attributes.description }}
        </p>
      </div>
      <div class="col-lg-6">
        <h3>Ingredients</h3>
        <p>
          {{ skinTypeProductDetails?.attributes.ingredientsList[0] }}
        </p>
      </div>
    </div>
  </div>
</section>

<section class="how-to-use">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h2>HOW TO USE</h2>
        <p>{{ skinTypeProductDetails?.attributes.howToUse }}</p>
      </div>
      <div class="col-md-7">
        <img src="assets/images/how-to-use.jpg" />
      </div>
    </div>
  </div>
</section>

<section class="shop-sellers-product-sec shop-sellers-pro-detail">
  <div class="container">
    <h2 class="heading">Shop Pro-Collagen</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
      nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut
      wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
      lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum
      iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel
      illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto
      odio dignissim qui blandit praesent luptatum zzril delenit augue duis
    </p>
    <div class="owl-carousel owl-theme">
      <div class="item">
        <div class="shop-inner-product">
          <img src="assets/images/product-1.jpg" />
          <div class="product-left-padding">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed</p>
            <ul>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star-half-o" aria-hidden="true"></i>
            </ul>
            <h4>$230.00</h4>
            <h6><span>20g</span> <span>50g</span> <span>100g</span></h6>
            <a>Add To Bag</a> <button>Consult a doctor</button>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="shop-inner-product">
          <img src="assets/images/product-2.jpg" />
          <div class="product-left-padding">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed</p>
            <ul>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star-half-o" aria-hidden="true"></i>
            </ul>
            <h4>$230.00</h4>
            <h6><span>20g</span> <span>50g</span> <span>100g</span></h6>
            <a>Add To Bag</a> <button>Consult a doctor</button>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="shop-inner-product">
          <img src="assets/images/product-3.jpg" />
          <div class="product-left-padding">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed</p>
            <ul>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star-half-o" aria-hidden="true"></i>
            </ul>
            <h4>$230.00</h4>
            <h6><span>20g</span> <span>50g</span> <span>100g</span></h6>
            <a>Add To Bag</a> <button>Consult a doctor</button>
          </div>
        </div>
      </div>

      <app-keep-in-touch></app-keep-in-touch>
    </div>
  </div>
</section>
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left m-0">ITEM ADDED TO CART</h4>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-8">
        <div class="cart-popup-text">
          <h2>
            <b>{{ skinTypeProductDetails?.attributes.brandName }}</b>
          </h2>
          <p>{{ skinTypeProductDetails?.attributes.productName }}</p>
          <h4>
            <b>Price: ${{ skinTypeProductDetails?.attributes.price }}</b>
          </h4>
        </div>
      </div>
      <div class="col-md-4">
        <div class="cart-popup-img">
          <img [src]="baseImageUrl + skinTypeProductDetails?.imagePaths[0]" />
        </div>
      </div>
    </div>
    <div class="footer-btn-popup">
      <a
        class="popup-checkout"
        (click)="modalRef.hide()"
        [routerLink]="['/cart/checkout']"
        routerLinkActive="router-link-active"
      >
        Checkout
      </a>
      <a (click)="modalRef.hide()">Countinue shopping</a>
    </div>
  </div>
</ng-template>
