<nav class="navbar navbar-expand-lg" id="backtotop">
  <div class="container">
    <a
      class="navbar-brand"
      [routerLink]="['/home']"
      routerLinkActive="router-link-active"
      ><img src="./assets/images/logo.png"
    /></a>
    <button
      class="navbar-toggler flip"
      type="button"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"
        ><i
          (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed"
          aria-controls="collapseBasic"
          class="fa fa-bars flip"
          aria-hidden="true"
        ></i
      ></span>
    </button>

    <div
      class="collapse navbar-collapse"
      id="navbarSupportedContent"
      id="collapseBasic"
      [collapse]="isCollapsed"
      [isAnimated]="true"
    >
      <ul class="navbar-nav mr-auto nav-link">
        <button class="" mat-button [matMenuTriggerFor]="browsebyMenu">
          {{ "Browse By" | translate }}
        </button>

        <!-- Browse By Menu -->
        <mat-menu #browsebyMenu="matMenu">
          <div class="first-menu">
            <div class="row">
              <div class="col-md-3 brand-div">
                <h3>{{ "BRAND" | translate }}</h3>
                <ul>
                  <ng-container
                    *ngFor="
                      let item of allbrandlist | slice: 0:10;
                      let i = index
                    "
                  >
                    <li
                      (click)="getBrandsProductsList(item)"
                      *ngIf="currentLang == 'en'"
                    >
                      <a>{{ item.brandName }}</a>
                    </li>
                    <li
                      (click)="getBrandsProductsList(item)"
                      *ngIf="currentLang == 'ar'"
                    >
                      <a>{{ item.brandNameInAr }}</a>
                    </li>
                  </ng-container>
                  <li>
                    <a
                      [routerLink]="['brand/all-brands']"
                      routerLinkActive="router-link-active"
                      >{{ "View All" | translate }}</a
                    >
                  </li>
                </ul>
              </div>
              <div class="col-md-3 brand-div">
                <h3>{{ "CONCERN" | translate }}</h3>
                <ul>
                  <ng-container
                    *ngFor="
                      let item of concernedList | slice: 0:10;
                      let i = index
                    "
                  >
                    <li *ngIf="currentLang == 'en'">
                      <a (click)="getConcernsProductsList(item)">
                        {{ item.concernName }}
                      </a>
                    </li>
                    <li *ngIf="currentLang == 'ar'">
                      <a (click)="getConcernsProductsList(item)">
                        {{ item.concernNameInAr }}
                      </a>
                    </li>
                  </ng-container>
                  <li>
                    <a
                      [routerLink]="['concern/all-concerns']"
                      routerLinkActive="router-link-active"
                      >{{ "View All" | translate }}</a
                    >
                  </li>
                </ul>
              </div>
              <div class="col-md-3 brand-div">
                <h3>{{ "SKIN TYPE" | translate }}</h3>
                <ul>
                  <ng-container
                    *ngFor="
                      let item of allSkinType | slice: 0:10;
                      let i = index
                    "
                  >
                    <li
                      (click)="getSkinTypeProductsList(item)"
                      *ngIf="currentLang == 'en'"
                    >
                      <a>
                        {{ item.skinTypeName }}
                      </a>
                    </li>
                    <li
                      (click)="getSkinTypeProductsList(item)"
                      *ngIf="currentLang == 'ar'"
                    >
                      <a>
                        {{ item.skinTypeNameInAr }}
                      </a>
                    </li>
                  </ng-container>
                  <li>
                    <a
                      [routerLink]="['skin/all-skintypes']"
                      routerLinkActive="router-link-active"
                      >{{ "View All" | translate }}</a
                    >
                  </li>
                </ul>
              </div>
              <div class="col-md-3 brand-div">
                <h3>{{ "INGREDIENT" | translate }}</h3>
                <ul>
                  <ng-container
                    *ngFor="
                      let item of ingredientList | slice: 0:10;
                      let i = index
                    "
                  >
                    <li
                      (click)="getIngredientsProductsList(item)"
                      *ngIf="currentLang == 'en'"
                    >
                      <a>
                        {{ item.ingredientName }}
                      </a>
                    </li>
                    <li
                      (click)="getIngredientsProductsList(item)"
                      *ngIf="currentLang == 'ar'"
                    >
                      <a>
                        {{ item.ingredientNameInAr }}
                      </a>
                    </li>
                  </ng-container>
                  <li>
                    <a
                      [routerLink]="['ingredient/all-ingredients']"
                      routerLinkActive="router-link-active"
                      >{{ "View All" | translate }}</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </mat-menu>

        <!-- Brand Menu -->
        <button mat-button [matMenuTriggerFor]="brand">
          {{ "Brand" | translate }}
        </button>
        <mat-menu #brand="matMenu" yPosition="below">
          <div class="first-menu">
            <div class="row">
              <div class="col-md-4 brand-div">
                <h3>{{ "BRAND" | translate }}</h3>
                <ul>
                  <ng-container
                    *ngFor="
                      let item of allbrandlist | slice: 0:10;
                      let i = index
                    "
                  >
                    <li
                      (click)="getBrandsProductsList(item)"
                      *ngIf="currentLang == 'en'"
                    >
                      <a>{{ item.brandName }}</a>
                    </li>
                    <li
                      (click)="getBrandsProductsList(item)"
                      *ngIf="currentLang == 'ar'"
                    >
                      <a>{{ item.brandNameInAr }}</a>
                    </li>
                  </ng-container>
                  <li>
                    <a
                      [routerLink]="['brand/all-brands']"
                      routerLinkActive="router-link-active"
                      >{{ "View All" | translate }}</a
                    >
                  </li>
                </ul>
              </div>
              <div class="col-md-4 brand-div">
                <h3>{{ "NEW BRANDS" | translate }}</h3>
                <ul>
                  <ng-container
                    *ngFor="
                      let item of allbrandlist | slice: 0:10;
                      let i = index
                    "
                  >
                    <li
                      (click)="getBrandsProductsList(item)"
                      *ngIf="currentLang == 'en'"
                    >
                      <a>{{ item.brandName }}</a>
                    </li>
                    <li
                      (click)="getBrandsProductsList(item)"
                      *ngIf="currentLang == 'ar'"
                    >
                      <a>{{ item.brandNameInAr }}</a>
                    </li>
                  </ng-container>
                </ul>
              </div>
              <div class="col-md-4 brand-div">
                <h3>{{ "TOP OF THE CLASS" | translate }}</h3>
                <ul>
                  <!-- <li>
                    <a>{{ "View All" | translate }}</a>
                  </li> -->
                </ul>
              </div>
            </div>
          </div>
        </mat-menu>

        <!-- Skin Type Menu -->
        <button mat-button [matMenuTriggerFor]="skinType">
          {{ "Skin Care" | translate }}
        </button>
        <mat-menu #skinType="matMenu" xPosition="before">
          <div class="first-menu">
            <div class="row">
              <ng-container *ngFor="let item of allSkinCare">
                <div class="col-md-4 brand-div">
                  <h3 *ngIf="currentLang == 'en'">
                    {{ item.skinCareSubCategory.subCategoryName }}
                  </h3>
                  <h3 *ngIf="currentLang == 'ar'">
                    {{ item.skinCareSubCategory.subCategoryNameInAr }}
                  </h3>
                  <ul>
                    <ng-container
                      *ngFor="let data of item.skinCareSubSubCategoryList"
                    >
                      <li *ngIf="currentLang == 'en'">
                        <a
                          (click)="
                            getSkinCareProductsList(item.skinCareSubCategory)
                          "
                          >{{ data.subSubCategoryName }}</a
                        >
                      </li>
                      <li *ngIf="currentLang == 'ar'">
                        <a
                          (click)="
                            getSkinCareProductsList(item.skinCareSubCategory)
                          "
                        >
                          {{ data.subSubCategoryNameInAr }}</a
                        >
                      </li>
                    </ng-container>
                  </ul>
                </div>
              </ng-container>
            </div>
          </div>
        </mat-menu>

        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/products']"
            routerLinkActive="router-link-active"
            >{{ "Product Type" | translate }}</a
          >
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/blog']"
            routerLinkActive="router-link-active"
            >{{ "Blog" | translate }}</a
          >
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/offers']"
            routerLinkActive="router-link-active"
            >{{ "Offers" | translate }}</a
          >
        </li>

        <li class="nav-item consult-doctor-btn">
          <a
            [routerLink]="['/consult-doctor']"
            routerLinkActive="router-link-active"
            class="nav-link"
            >{{ "Consult a doctor" | translate }}</a
          >
        </li>

        <li class="nav-item header-icons">
          <a class="nav-link"
            ><i class="fa fa-search" aria-hidden="true"></i
          ></a>
        </li>

        <li class="nav-item header-icons">
          <button
            class="languageClass nav-link"
            style="cursor: pointer"
            *ngIf="isShowEnglish"
            (click)="setLanguage('en')"
          >
            English
          </button>

          <button
            class="languageClass nav-link"
            style="cursor: pointer"
            *ngIf="isShowArabic"
            (click)="setLanguage('ar')"
          >
            عربي
          </button>
        </li>
        <li class="nav-item header-icons">
          <a
            class="nav-link"
            [routerLink]="['/login']"
            routerLinkActive="router-link-active"
            ><i class="fa fa-user-o" aria-hidden="true"></i
          ></a>
        </li>
        <!-- <li
          class="nav-item header-icons nav-link"
          (mouseenter)="openModal(template)"
          (mouseleave)="modalRef.hide()"
        > -->
        <li class="nav-item header-icons nav-link">
          <span>( {{ cartValue }} ) {{ "ITEMS" | translate }}</span
          >&nbsp;
          <a><i class="fa fa-shopping-bag" aria-hidden="true"></i></a>
          <!-- <input
            type="text"
            class="nav-link"
            placeholder="Datepicker"
            #dpr="bsDatepicker"
            (ngModelChange)="applyLocale(dpr)"
            [bsConfig]="{ adaptivePosition: true, showWeekNumbers: false }"
            bsDatepicker
          /> -->
        </li>
        <!-- <button
          type="button"
          class="btn btn-primary"
          (click)="openModal(template)"
        >
          Create template modal
        </button> -->

        <!-- <li class="nav-item">
          <a class="nav-link">{{ "Help" | translate }}</a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Item In Cart Modal</h4>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">Product Information Here</div>
</ng-template>
