<section class="every-day-offer">
  <div class="container">
    <h2>Everyday Offers</h2>
    <div class="every-day-offer-inner">
      <div class="row">
        <div class="col-md-4">
          <img src="assets/images/offer1.jpg" />
          <p>
            Save 15% on your first order when you sign up for our email or SMS
            newsletter.*
          </p>
        </div>
        <div class="col-md-4">
          <img src="assets/images/offer2.jpg" />
          <p>Enjoy Free Shipping on all purchases.*</p>
          <a>Shop Now</a>
        </div>
        <div class="col-md-4">
          <img src="assets/images/offer3.jpg" />
          <p>Receive 2 Free samples with every order.</p>
          <a>Shop Now</a>
        </div>
      </div>
    </div>
  </div>
</section>
