<section class="products-main-sec">
  <div class="container">
    <div class="product-filter">
      <h2>All Ingredients</h2>
      <app-filter-ui></app-filter-ui>
    </div>

    <div class="product-alpha">
      <div class="col-xs-12" style="text-align: center">
        <ng-container *ngFor="let group of allingredientsList">
          <a
            *ngIf="currentLang == 'en'"
            (click)="gotoDiv(group.contacts[0].alphabetKey)"
            class="letterTxt"
          >
            {{ group.contacts[0].alphabetKey }}</a
          >
        </ng-container>
        <ng-container *ngFor="let group of allingredientsList">
          <a
            *ngIf="currentLang == 'ar'"
            (click)="gotoDiv(group.contacts[0].alphabetKeyInAr)"
            class="letterTxt"
          >
            {{ group.contacts[0].alphabetKeyInAr }}</a
          >
        </ng-container>
      </div>
    </div>

    <section class="product-cetegrory">
      <div class="container">
        <div class="row" *ngFor="let group of allingredientsList">
          <div class="col-md-1">
            <h2
              *ngIf="currentLang == 'en'"
              class="letterHeader"
              [id]="group.contacts[0].alphabetKey"
            >
              {{ group.contacts[0].alphabetKey }}
            </h2>
            <h2
              *ngIf="currentLang == 'ar'"
              class="letterHeader"
              [id]="group.contacts[0].alphabetKeyInAr"
            >
              {{ group.contacts[0].alphabetKeyInAr }}
            </h2>
          </div>
          <div class="col-md-11">
            <hr class="single-border" />
          </div>

          <div *ngIf="currentLang == 'en'" class="alpha-detail">
            <ul class="row">
              <a
                *ngFor="let contact of group.contacts"
                (click)="getIngredenitsDetails(contact)"
                class="col-lg-3"
                >{{ contact.ingredientName }}</a
              >
            </ul>
          </div>
          <div *ngIf="currentLang == 'ar'" class="alpha-detail">
            <ul class="row">
              <a
                (click)="getIngredenitsDetails(contact)"
                *ngFor="let contact of group.contacts"
                class="col-lg-3"
              >
                {{ contact.ingredientNameInAr }}</a
              >
            </ul>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>
