<section class="account-login">
  <div class="account-login-inner">
    <img src="./assets/images/logo.png" />
    <form class="mt-3">
      <div class="form-group">
        <label
          ><h1>Returning Customer</h1>
          Enter your email address and password below to sign in.</label
        ><br />
        <label for="exampleInputEmail1">Email</label>
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder=""
        />
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" placeholder="" />
      </div>
      <button type="submit" class="btn btn-primary">Sign In</button>
      <p>By continuing, you agree to derma stations <a>Privacy Policy</a></p>
      <a class="need-help"> Need help</a>
    </form>
    <div class="craete-acount">
      <button
        [routerLink]="['/register']"
        routerLinkActive="router-link-active"
      >
        Create your Derma station account
      </button>
    </div>
  </div>
</section>
