<section class="consult-doctor">
  <div class="container">
    <!-- <form>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4">Search by Language</label>
          <input type="email" class="form-control" placeholder="Email" />
        </div>
        <div class="form-group col-md-6">
          <label>Search by Doctor Name</label>
          <input
            type="password"
            class="form-control"
            placeholder="Search by Doctor Name"
          />
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Search Doctor</button>
    </form> -->
    <div class="row">
      <div class="col-md-8">
        <div class="online-consult">
          <h2>{{ "Online doctor consultation" | translate }}</h2>
          <p>{{ "Get Response for your health problems" | translate }}</p>
          <a>{{ "Find a Doctor" | translate }}</a>
        </div>
      </div>
      <div class="col-md-4 online-consult-img">
        <img src="./assets/images/consult-bg-img.png" />
      </div>
    </div>
  </div>
</section>

<section class="doctor-info">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="doctor-info-inner">
          <img src="./assets/images/doctor-img.jpg" />
          <h3>Dr.Louis Devert</h3>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="doctor-info-inner">
          <img src="./assets/images/doctor-img.jpg" />
          <h3>Dr.Amira Nabet</h3>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="doctor-info-inner">
          <img src="./assets/images/doctor-img.jpg" />
          <h3>Dr.Jennifer Albert</h3>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
