/*arabic css start here*/

body.arabic-page.modal-open {
  direction: rtl;
}

.arabic-page {
  direction: ltr;
  font-family: "TheSans" !important;
}

.arabic-page .form-select.mb-3 {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  right: 0px;
  max-width: 25px;
}
.arabic-page .mat-menu-panel {
  min-width: 112px;
  max-width: 722px !important;
  overflow: auto;
  margin-top: 15px;
  background: #fff !important;
}
.arabic-page .cdk-overlay-container {
  position: fixed;
  z-index: 99999;
}
.arabic-page app-root {
  font-family: "TheSans" !important;
  direction: rtl;
  width: 100%;
  height: 100%;
  display: block;
  overflow-x: hidden;
  position: relative;
  z-index: 1050;
}

/* .arabic-page .languageClass {
  background: transparent;
  border: none;
} */
.arabic-page .product-filter h2 {
  text-align: right;
}
