<section class="shop-sellers-sec">
  <div class="container">
    <div class="shop-seller-inner">
      <h2 class="heading">Shop Best Sellers</h2>
      <owl-carousel-o [options]="customOptions">
        <ng-template
          carouselSlide
          *ngFor="let item of productListForBestSellers"
        >
          <div class="item">
            <div class="shop-inner-product">
              <img [src]="baseImageUrl + item.imagePath" />
              <div class="product-left-padding" (click)="productDetails(item)">
                <h3>
                  {{ item.brandName }}
                </h3>
                <p>{{ item.productName }}</p>
                <ul>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star-half-o" aria-hidden="true"></i>
                </ul>
                <h4>${{ item.price }}</h4>
                <h5>{{ item.measure }}</h5>

                <a>Add To Bag</a> <button>Consult a doctor</button>
              </div>
            </div>
          </div>
        </ng-template>
      </owl-carousel-o>
    </div>
  </div>
</section>
