<div class="short-filter">
  <span><i class="fa fa-filter" aria-hidden="true"></i> Filter </span>
  <select id="short-filter" name="cars">
    <option value="volvo">Sort By</option>
    <option value="1">Best Sellers</option>
    <option value="2">Price-Low To High</option>
    <option value="3">Price-High To Low</option>
    <option value="4">New</option>
    <option value="5">Top Rated</option>
    <option value="6">Free Gift</option>
  </select>
</div>
