<section class="shopping-cart">
  <div class="container">
    <div class="row">
      <div class="col-md-6 shopping-cart-left">
        <h3>Shopping Cart</h3>
        <button>Countinue shopping</button>
      </div>
      <div class="col-md-6 shopping-cart-right">
        <span>TOTAL $333.40</span> <button>Checkout</button>
      </div>
    </div>
  </div>
</section>
<section class="checkout-table">
  <div class="container">
    <div class="table-responsive">
      <form>
        <table class="table" id="mainTable">
          <tbody>
            <tr class="tableHeader">
              <th scope="col" class="cartItems">items in your order</th>
              <th scope="col">Dermastation Subscriptions</th>
              <th scope="col" class="text-center">qty</th>
              <th scope="col" class="text-center">Price</th>
              <th scope="col" class="text-right">Total</th>
              <th scope="col" class="text-right">Remove</th>
            </tr>

            <tr class="shoppingCartProd">
              <th scope="row">
                <a
                  href="/product_Collectors+Edition+Glow+Body+Stick_80508.htm"
                  data-id="80508"
                  aria-label="BECCA Cosmetics Collector's Edition Glow Body Stick product page"
                >
                  <div class="pull-left-img">
                    <img
                      src="//media.dermstore.com/catalog/500477/300x300/80508.jpg"
                      class="img-fluid"
                      alt="BECCA Cosmetics Collector's Edition Glow Body Stick"
                    />
                  </div>
                  <div class="pull-left-text" style="font-size: 0.875em">
                    <strong style="font-size: 0.875em; font-family: sectra"
                      >BECCA Cosmetics</strong
                    >
                    <h4
                      style="
                        margin: 1px 0 8px;
                        font-weight: 400;
                        color: #333;
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;
                        letter-spacing: -0.0125em;
                        font-size: 1.375em;
                      "
                    >
                      Collector's Edition Glow Body Stick
                    </h4>
                    <small
                      style="
                        text-transform: uppercase;
                        color: #999;
                        letter-spacing: 0.0375em;
                      "
                      >Champagne Pop</small
                    >
                  </div>
                </a>
              </th>
              <td></td>
              <td class="qtySpinnerCell">
                <span class="custom-dropdown custom-dropdown--white">
                  <select
                    class="custom-dropdown__select custom-dropdown__select--white quantityDesktop"
                    prod-id="Q_80508"
                    selected-value="1"
                    value="1"
                    aria-label="select quantity"
                  >
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                  </select>
                </span>
              </td>
              <td class="text-right">
                <span class="sr-only">Was </span><s>$48.00</s>
              </td>
              <td class="text-right">
                <span class="totalDiscount"
                  ><strong class="green">$38.40</strong></span
                >
              </td>
              <td class="text-right">
                <button
                  class="removeItem"
                  prod-id="D_80508"
                  aria-label="remove item"
                  style="border: none; background-color: transparent"
                >
                  <i
                    class="fa fa-times-circle"
                    prod-id="D_80508"
                    aria-hidden="true"
                  ></i>
                </button>
              </td>
            </tr>
            <!-- .shoppingCartProd -->
            <tr class="shoppingCartProd">
              <th scope="row">
                <a
                  href="/product_TNS+Advanced+Serum_83028.htm"
                  data-id="83028"
                  aria-label="SkinMedica TNS Advanced+ Serum product page"
                >
                  <div class="pull-left-img">
                    <img
                      src="//media.dermstore.com/catalog/100155/300x300/83028.jpg"
                      class="img-fluid"
                      alt="SkinMedica TNS Advanced+ Serum"
                    />
                  </div>
                  <div class="pull-left-text" style="font-size: 0.875em">
                    <strong style="font-size: 0.875em; font-family: sectra"
                      >SkinMedica</strong
                    >
                    <h4
                      style="
                        margin: 1px 0 8px;
                        font-weight: 400;
                        color: #333;
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;
                        letter-spacing: -0.0125em;
                        font-size: 1.375em;
                      "
                    >
                      TNS Advanced+ Serum
                    </h4>
                    <small
                      style="
                        text-transform: uppercase;
                        color: #999;
                        letter-spacing: 0.0375em;
                      "
                    ></small>
                  </div>
                </a>
              </th>
              <td>
                <span class="custom-dropdown custom-dropdown--white">
                  <select
                    class="custom-dropdown__select auto_refill custom-dropdown__select--white"
                    selected-value="null"
                    prod-id="83028"
                    aria-label="select subscription type"
                  >
                    <option value="0">One time purchase</option>
                    <option value="30">Every Month</option>
                    <option value="60">Every 2 Months</option>
                    <option value="90">Every 3 Months</option>
                  </select>
                </span>
                <p class="refill-messaging">
                  <a
                    href="#"
                    class="green"
                    data-toggle="modal"
                    data-target="#arModal"
                    ><strong>subscribe to save "15%</strong></a
                  >
                </p>
              </td>
              <td class="qtySpinnerCell">
                <span class="custom-dropdown custom-dropdown--white">
                  <select
                    class="custom-dropdown__select custom-dropdown__select--white quantityDesktop"
                    prod-id="Q_83028"
                    selected-value="1"
                    value="1"
                    aria-label="select quantity"
                  >
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                  </select>
                </span>
              </td>
              <td class="text-right"><span>$295.00</span></td>
              <td class="text-right">
                <span class=""><strong>$295.00</strong></span>
              </td>
              <td class="text-right">
                <button
                  class="removeItem"
                  prod-id="D_83028"
                  aria-label="remove item"
                  style="border: none; background-color: transparent"
                >
                  <i
                    class="fa fa-times-circle"
                    prod-id="D_83028"
                    aria-hidden="true"
                  ></i>
                </button>
              </td>
            </tr>
            <!-- .shoppingCartProd -->
          </tbody>
        </table>
      </form>
      <i
        class="fa fa-spin fa-spinner cart_loader"
        aria-hidden="true"
        style="
          margin: 0px auto;
          text-align: center;
          display: none;
          font-size: 40px;
        "
      ></i>
    </div>
  </div>
</section>
<section class="checkout-payment">
  <div class="container">
    <div class="row" id="checkoutArea">
      <div class="col-12 col-md-6 hello">
        <div class="row mx-1">
          <div class="col-1">
            <i class="fa fa-truck fa-flip-horizontal" aria-hidden="true"></i>
          </div>
          <div class="col-11">
            <span>FREE Exchanges &amp; Easy Returns</span>
          </div>

          <div class="col-1">
            <i class="fa fa-lock" aria-hidden="true"></i>
          </div>
          <div class="col-11">
            <span
              >Dermstore has
              <a
                href="#"
                data-toggle="modal"
                data-target="#secureCheckoutModal"
                class="green"
                >Secure Transactions</a
              ></span
            >
          </div>
          <div class="col-1">
            <i class="fa fa-phone" aria-hidden="true"></i>
          </div>
          <div class="col-11">
            <!--                                  DSTR-4440 added for covid -->

            <span
              >Questions?
              <a href="/content/content.php?content=customer" class="green"
                >Contact Us</a
              ></span
            >
            <!--                                  <span>Questions? <a href="#" data-toggle="modal" data-target="#customerCareModal" class="green">Contact Us</a></span>-->

            <!--                                  DSTR-4440 added for covid -->
          </div>
        </div>
      </div>
      <!-- .col -->
      <div class="col-12 offset-md-1 col-md-5">
        <table id="subTotalTable" class="text-right table">
          <tbody>
            <tr>
              <td class="border-right">Subtotal</td>
              <td><span class="updateProducts">$333.40</span></td>
            </tr>
            <tr class="">
              <td class="shippingChoice border-right">Free Shipping</td>
              <td class="shippingPrice">$0.00</td>
            </tr>

            <tr class="">
              <td class="border-right">
                <button
                  class="promoPop green"
                  style="
                    border: none;
                    background-color: transparent;
                    padding: 0px;
                  "
                  aria-label="enter promo code"
                  data-toggle="popover"
                  data-placement="top"
                  data-content="
                    <div>
                      <p><strong>Enter Promo Code</strong></p>
                      <p class='alert alert-danger displayPromoError' style='display: none;'>Sorry, invalid code. Try again.</p>
                      <p class='alert alert-success displayPromoSuccess' style='display: none;'></p>
                    </div>
                    <div>
                      <form class='form-inline' id='promoForm'>
                        <div class='form-group'>
                          <input type='text' class='form-control' value='' aria-label='enter promo code'>
                          <button type='submit' class='btn btn-dermstore' aria-label='apply'>apply</button>
                        </div>
                      </form>
                    </div>"
                  data-original-title=""
                  title=""
                >
                  + Promo Code
                </button>
              </td>

              <td><strong class="updatePromo orange">-$0.00</strong></td>
            </tr>
            <tr>
              <td class="border-right giftCardText" style="display: none">
                <span>Gift Card</span>
              </td>
              <td class="updateGiftCard" style="display: none"></td>
            </tr>
            <tr class="">
              <td class="border-right">
                <button
                  style="
                    border: none;
                    background-color: transparent;
                    padding: 0px;
                    margin-bottom: 10px;
                  "
                  class="estTax green"
                  aria-label="Estimate tax"
                >
                  Estimate Tax
                </button>
                <form id="estTaxForm" style="display: none">
                  <div class="form-group">
                    <select class="form-control">
                      <option value="" selected=""></option>
                      <option value="AL">AL</option>
                      <option value="AK">AK</option>
                      <option value="AZ">AZ</option>
                      <option value="AR">AR</option>
                      <option value="CA">CA</option>
                      <option value="CO">CO</option>
                      <option value="CT">CT</option>
                      <option value="DE">DE</option>
                      <option value="DC">DC</option>
                      <option value="FL">FL</option>
                      <option value="GA">GA</option>
                      <option value="HI">HI</option>
                      <option value="ID">ID</option>
                      <option value="IL">IL</option>
                      <option value="IN">IN</option>
                      <option value="IA">IA</option>
                      <option value="KS">KS</option>
                      <option value="KY">KY</option>
                      <option value="LA">LA</option>
                      <option value="ME">ME</option>
                      <option value="MD">MD</option>
                      <option value="MA">MA</option>
                      <option value="MI">MI</option>
                      <option value="MN">MN</option>
                      <option value="MS">MS</option>
                      <option value="MO">MO</option>
                      <option value="MT">MT</option>
                      <option value="NE">NE</option>
                      <option value="NC">NC</option>
                      <option value="ND">ND</option>
                      <option value="NV">NV</option>
                      <option value="NH">NH</option>
                      <option value="NJ">NJ</option>
                      <option value="NM">NM</option>
                      <option value="NY">NY</option>
                      <option value="OH">OH</option>
                      <option value="OK">OK</option>
                      <option value="OR">OR</option>
                      <option value="PA">PA</option>
                      <option value="RI">RI</option>
                      <option value="SC">SC</option>
                      <option value="SD">SD</option>
                      <option value="TN">TN</option>
                      <option value="TX">TX</option>
                      <option value="UT">UT</option>
                      <option value="VT">VT</option>
                      <option value="VA">VA</option>
                      <option value="WA">WA</option>
                      <option value="WV">WV</option>
                      <option value="WI">WI</option>
                      <option value="WY">WY</option>
                      <option value="PR">PR</option>
                      <option value="VI">VI</option>
                      <option value="GU">GU</option>
                      <option value="AA">AA</option>
                      <option value="AP">AP</option>
                      <option value="AE">AE</option>
                    </select>
                  </div>
                </form>
              </td>
              <td class="estTaxTotal">$0.00</td>
            </tr>
            <tr class="last">
              <td class="border-right"><strong>Total</strong></td>
              <td class="updatePrice">$333.40</td>
            </tr>
          </tbody>
        </table>
        <div id="bottomCheckout" class="text-right">
          <button
            aria-label="Checkout"
            class="btn btn-green checkoutBtn"
            style="margin-bottom: 10px; background-color: #212529; color: white"
          >
            Checkout
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
