<section class="testimonial-sec">
  <div class="container">
    <h2 class="heading">Testimonials</h2>
    <p class="text-center">
      Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet,
    </p>
    <div class="row">
      <div class="col-sm-12 col-12">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum
          suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan
          lacus vel facilisis.
        </p>
        <div class="testimonial-client">
          <img src="./assets/images/user.jpg" />
          <div class="Clients-detail">
            <h3>ELYANA D’SUZA</h3>
            <small>Product Manager</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
