<app-header></app-header>
<ngx-spinner
  bdColor="rgb(0,0,0,0.86)"
  size="medium"
  color="#FFFFFF"
  type="ball-clip-rotate"
  [fullScreen]="true"
  ><p style="color: white"></p
></ngx-spinner>
<router-outlet (deactivate)="onDeactivate()" id="backtotop"></router-outlet>
<app-footer></app-footer>
