<section class="browse-category">
  <div class="container">
    <h2 class="heading">Browse Categories</h2>
    <div class="row">
      <div class="col">
        <div class="browse-category-inner">
          <img src="./assets/images/product-2.jpg" />
          <a
            >Barrier Booster <i class="fa fa-angle-right" aria-hidden="true"></i
          ></a>
        </div>
      </div>
      <div class="col">
        <div class="browse-category-inner">
          <img src="./assets/images/product-1.jpg" />
          <a
            >Barrier Booster <i class="fa fa-angle-right" aria-hidden="true"></i
          ></a>
        </div>
      </div>
      <div class="col">
        <div class="browse-category-inner">
          <img src="./assets/images/product-3.jpg" />
          <a
            >Spot Corrector <i class="fa fa-angle-right" aria-hidden="true"></i
          ></a>
        </div>
      </div>
      <div class="col">
        <div class="browse-category-inner">
          <img src="./assets/images/product-4.jpg" />
          <a
            >Restoring Essence
            <i class="fa fa-angle-right" aria-hidden="true"></i
          ></a>
        </div>
      </div>
      <div class="col">
        <div class="browse-category-inner">
          <img src="./assets/images/product-5.jpg" />
          <a
            >Stabilizing Toner
            <i class="fa fa-angle-right" aria-hidden="true"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</section>
