<section class="brand-name">
  <div class="container">
    <h2 *ngIf="currentLang == 'en'">{{ titleValue?.skinTypeName }}</h2>
    <h2 *ngIf="currentLang == 'ar'">{{ titleValue?.skinTypeNameInAr }}</h2>
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s, when an unknown printer took a galley of type and scrambled it to
      make a type specimen book.
    </p>
  </div>
</section>
<section class="per-product-brand-detail">
  <div class="container">
    <div class="row">
      <!-- Product Filter Start -->
      <div class="col-md-3">
        <app-product-filter></app-product-filter>
      </div>
      <!-- Product Filter Start -->
      <div class="col-md-9">
        <div class="per-product-brand-right">
          <div class="row" *ngIf="!isShownodata">
            <div
              class="col-md-4"
              *ngFor="let item of skinTypeData"
              (click)="productDetails(item)"
            >
              <div class="shop-inner-product">
                <img [src]="baseImageUrl + item.imagePath" />
                <div class="product-left-padding">
                  <h3>{{ item?.brandName }}</h3>
                  <p>{{ item?.productName }} -({{ item?.measure }})</p>
                  <ul>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-half-o" aria-hidden="true"></i>
                  </ul>
                  <h4>${{ item?.price }}</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="isShownodata">
            <h3>{{ "No Data To Show" | translate }}</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
