<section class="blog-banner-imgs">
  <div class="row m-0">
    <div class="col-md-6 p-0">
      <div class="blog-main-left">
        <img src="./assets/images/banner-image.jpg" />
        <div class="blog-link">
          <a style="color: white">The Best Tips From 4 Black Beauty Experts</a>
        </div>
      </div>
    </div>

    <div class="col-md-6 p-0">
      <div class="blog-right-main">
        <ul>
          <li>
            <span style="height: 60vh; object-fit: cover">
              <img src="./assets/images/benefit-bg.jpg" />
              <div class="blog-link">
                <a style="color: white">Chocolatey Cacao Nibs Smoothie</a>
              </div>
            </span>
            <span style="height: 30vh; object-fit: cover">
              <img src="./assets/images/benefit-bg.jpg" />

              <div class="blog-link">
                <a style="color: white"
                  >The Goodest, Gooiest Chocolate Coconut</a
                >
              </div>
            </span>
          </li>

          <li>
            <span style="height: 30vh; object-fit: cover">
              <img src="./assets/images/offer3.jpg" />
              <div class="blog-link">
                <a style="color: white">Blackberry Bliss Breakfast Smoothie</a>
              </div>
            </span>
            <span style="height: 60vh; object-fit: cover">
              <img src="./assets/images/offer2.jpg" />
              <div class="blog-link">
                <a style="color: white"
                  >Chewy Goji Berry and Chocolate Granola Bars</a
                >
              </div>
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="blog-main-sec">
  <div class="container" id="top">
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div
            class="col-md-12 blog-detail-inner"
            *ngFor="
              let item of blogsData
                | paginate: { itemsPerPage: 3, currentPage: page }
            "
          >
            <div class="blog-inner-sec">
              <div class="row">
                <div class="col-md-4 blog-inner-sec-img">
                  <img [src]="baseImageUrl + item.blogImage" />
                </div>
                <div class="col-md-8 blog-inner-sec-col">
                  <div class="blog-inner-text">
                    <h3 *ngIf="currentLang == 'en'">{{ item.title }}</h3>
                    <h3 *ngIf="currentLang == 'ar'">{{ item.titleInAr }}</h3>
                    <h3 *ngIf="currentLang == 'en'">{{ item.authorName }}</h3>
                    <h3 *ngIf="currentLang == 'ar'">
                      {{ item.authorNameInAr }}
                    </h3>
                    <h3>{{ item.createdDate }}</h3>
                    <a (click)="readMore(item)">{{
                      "Read More" | translate
                    }}</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="blog-right-sidebar">
          <form action="#">
            <input type="text" placeholder="{{ 'Search..' | translate }}" />
          </form>
          <div class="blog__sidebar__item">
            <h4>{{ "Categories" | translate }}</h4>
            <ul>
              <li>
                <a
                  (click)="goTotop()"
                  [routerLink]="['/blog/all-blogs']"
                  routerLinkActive="router-link-active"
                  >All</a
                >
              </li>
              <li>
                <a (click)="getSkinCareBlogs()">{{
                  "Skin Care" | translate
                }}</a>
              </li>
              <li>
                <a (click)="getHairCareBlogs()">{{
                  "Hair Care" | translate
                }}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <pagination-controls
    (click)="goTotop()"
    directionLinks="false"
    (pageChange)="page = $event"
  ></pagination-controls>
</section>

<app-keep-in-touch></app-keep-in-touch>
