/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "TheSans";
}
.mat-h3,
.mat-subheading-2,
.mat-typography h3,
.mat-button,
.mat-raised-button,
.mat-icon-button,
.mat-stroked-button,
.mat-flat-button,
.mat-fab,
.mat-mini-fab,
.mat-h1,
.mat-headline,
.mat-typography h1,
.mat-body,
.mat-body-1,
.mat-typography,
.mat-h5,
.mat-typography h5,
.mat-h2,
.mat-title,
.mat-typography h2 {
  font-family: "TheSans";
}
/* @import "~ngx-owl-carousel-o/lib/styles/scss/owl.carousel";
@import "~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default"; */
