<section class="faq-banner">
  <div class="container">
    <div class="about-banner-text">
      <div class="about-banner-text-inner">
        <h2>FAQ</h2>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s
        </p>
      </div>
    </div>
  </div>
</section>

<section class="faq-accordion">
  <div class="container">
    <div id="accordion" class="accordion">
      <div class="card mb-0 border-0">
        <div
          class="card-header collapsed"
          data-toggle="collapse"
          href="#collapseOne"
        >
          <a class="card-title"> It is a long established fact that </a>
        </div>
        <div
          id="collapseOne"
          class="card-body collapse"
          data-parent="#accordion"
        >
          <p>
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
            terry richardson ad squid. 3 wolf moon officia aute, non cupidatat
            skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
            Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
            single-origin coffee nulla assumenda shoreditch et. Nihil anim
            keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
            sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
            occaecat craft beer farm-to-table, raw denim aesthetic synth
            nesciunt you probably haven't heard of them accusamus labore
            sustainable VHS.
          </p>
        </div>
        <div
          class="card-header collapsed"
          data-toggle="collapse"
          data-parent="#accordion"
          href="#collapseTwo"
        >
          <a class="card-title"> It is a long established fact that </a>
        </div>
        <div
          id="collapseTwo"
          class="card-body collapse"
          data-parent="#accordion"
        >
          <p>
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
            terry richardson ad squid. 3 wolf moon officia aute, non cupidatat
            skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
            Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
            single-origin coffee nulla assumenda shoreditch et. Nihil anim
            keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
            sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
            occaecat craft beer farm-to-table, raw denim aesthetic synth
            nesciunt you probably haven't heard of them accusamus labore
            sustainable VHS.
          </p>
        </div>
        <div
          class="card-header collapsed"
          data-toggle="collapse"
          data-parent="#accordion"
          href="#collapseThree"
        >
          <a class="card-title"> It is a long established fact that </a>
        </div>
        <div id="collapseThree" class="collapse" data-parent="#accordion">
          <div class="card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
            terry richardson ad squid. 3 wolf moon officia aute, non cupidatat
            skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
            Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
            single-origin coffee nulla assumenda shoreditch et. samus labore
            sustainable VHS.
          </div>
        </div>
        <div
          class="card-header collapsed"
          data-toggle="collapse"
          data-parent="#accordion"
          href="#collapsefour"
        >
          <a class="card-title"> It is a long established fact that </a>
        </div>
        <div id="collapsefour" class="collapse" data-parent="#accordion">
          <div class="card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
            terry richardson ad squid. 3 wolf moon officia aute, non cupidatat
            skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
            Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
            single-origin coffee nulla assumenda shoreditch et. samus labore
            sustainable VHS.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="pink-blank-sec"></section>