<section class="contact-banner">
  <div class="container">
    <div class="about-banner-text">
      <div class="about-banner-text-inner">
        <h2>Contact Us</h2>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s
        </p>
      </div>
    </div>
  </div>
</section>

<section class="reach-info-sec">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="reach-info-sec-inner">
          <span class="reach-info-left"
            ><i class="fa fa-phone" aria-hidden="true"></i
          ></span>
          <span class="reach-info-right">
            <a href="tel:+00 123 456 789">+00 123 456 789</a>
            <a href="tel:+00 123 456 789">+00 123 456 789</a>
          </span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="reach-info-sec-inner">
          <span class="reach-info-left"
            ><i class="fa fa-map-marker" aria-hidden="true"></i
          ></span>
          <span class="reach-info-right">
            <p>Lorem Ipsum is simply dummy text of the printing</p>
          </span>
        </div>
      </div>

      <div class="col-md-4">
        <div class="reach-info-sec-inner">
          <span class="reach-info-left"
            ><i class="fa fa-envelope-o" aria-hidden="true"></i
          ></span>
          <span class="reach-info-right">
            <a href="mailto:dummy123@gmail.com">dummy123@gmail.com</a>
            <a href="mailto:dummy123@gmail.com">dummy123@gmail.com</a>
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="contact-form-sec">
  <div class="container">
    <div class="contact-inner">
      <h2>get in touch</h2>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum<br />
        has been the industry's standard dummy text ever since the 1500s
      </p>
      <form [formGroup]="contactusForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col">
            <input
              type="text"
              formControlName="firstName"
              class="form-control"
              englishOnly
              [ngClass]="{
                'is-invalid':
                  submitted &&
                  errorMsg.firstName.errors &&
                  errorMsg.firstNameInAr.errors
              }"
              placeholder="First Name(English)"
            />
            <div
              *ngIf="submitted && errorMsg.firstName.errors"
              class="invalid-feedback"
            >
              <div *ngIf="errorMsg.firstName.errors.required">
                First Name is required
              </div>
            </div>
          </div>
          <div class="col">
            <input
              type="text"
              formControlName="firstNameInAr"
              class="form-control"
              arbicOnly
              [ngClass]="{
                'is-invalid':
                  submitted &&
                  errorMsg.firstNameInAr.errors &&
                  errorMsg.firstName.errors
              }"
              placeholder="First Name(Arabic)"
            />
            <div
              *ngIf="submitted && errorMsg.firstNameInAr.errors"
              class="invalid-feedback"
            >
              <div *ngIf="errorMsg.firstNameInAr.errors.required">
                الإسم الأول مطلوب
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <input
              type="text"
              formControlName="lastName"
              englishOnly
              class="form-control"
              [ngClass]="{
                'is-invalid':
                  submitted &&
                  errorMsg.lastName.errors &&
                  errorMsg.lastNameInAr.errors
              }"
              placeholder="Last Name(English)"
            />
            <div
              *ngIf="submitted && errorMsg.lastName.errors"
              class="invalid-feedback"
            >
              <div *ngIf="errorMsg.lastName.errors.required">
                Last Name is required
              </div>
            </div>
          </div>
          <div class="col">
            <input
              type="text"
              formControlName="lastNameInAr"
              class="form-control"
              arbicOnly
              [ngClass]="{
                'is-invalid':
                  submitted &&
                  errorMsg.lastNameInAr.errors &&
                  errorMsg.lastName.errors
              }"
              placeholder="Last Name(Arabic)"
            />
            <div
              *ngIf="submitted && errorMsg.lastNameInAr.errors"
              class="invalid-feedback"
            >
              <div *ngIf="errorMsg.lastNameInAr.errors.required">
                إسم العائلة مطلوب
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <input
              type="Number"
              formControlName="phoneNumber"
              class="form-control"
              [ngClass]="{
                'is-invalid': submitted && errorMsg.phoneNumber.errors
              }"
              placeholder="Phone No"
            />
            <div
              *ngIf="submitted && errorMsg.phoneNumber.errors"
              class="invalid-feedback"
            >
              <div *ngIf="errorMsg.phoneNumber.errors.required">
                Phone Number is required
              </div>
            </div>
          </div>
          <!-- <div class="col">
            <input
              type="Number"
              formControlName="phoneNumberInAr"
              class="form-control"
              [ngClass]="{
                'is-invalid':
                  submitted &&
                  errorMsg.phoneNumberInAr.errors &&
                  errorMsg.phoneNumber.errors
              }"
              placeholder="Phone No"
            />
            <div
              *ngIf="submitted && errorMsg.phoneNumberInAr.errors"
              class="invalid-feedback"
            >
              <div *ngIf="errorMsg.phoneNumberInAr.errors.required">
                رقم الهاتف مطلوب
              </div>
            </div>
          </div> -->
        </div>

        <div class="row">
          <div class="col">
            <input
              type="text"
              formControlName="email"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && errorMsg.email.errors }"
              placeholder="Email "
            />
            <div
              *ngIf="submitted && errorMsg.email.errors"
              class="invalid-feedback"
            >
              <div *ngIf="errorMsg.email.errors.required">
                Email is required
              </div>
              <div *ngIf="errorMsg.email.errors.email">
                Email must be a valid email address
              </div>
            </div>
          </div>

          <div class="col">
            <input
              type="text"
              arbicOnly
              formControlName="emailInAr"
              class="form-control"
              [ngClass]="{
                'is-invalid': submitted && errorMsg.emailInAr.errors
              }"
              placeholder="Email In Arabic"
            />
            <div
              *ngIf="submitted && errorMsg.emailInAr.errors"
              class="invalid-feedback"
            ></div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <textarea
              class="form-control"
              formControlName="message"
              class="form-control"
              [ngClass]="{
                'is-invalid': submitted && errorMsg.message.errors
              }"
              rows="5"
            ></textarea>
            <div
              *ngIf="submitted && errorMsg.message.errors"
              class="invalid-feedback"
            >
              <div *ngIf="errorMsg.message.errors.required">
                Message is required
              </div>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</section>
