<section class="every-day-offer">
  <div class="container">
    <h2 class="heading">Featured Offers</h2>
    <div class="every-day-inner">
      <div class="row">
        <div class="col-md-5 every-day-left">
          <img src="assets/images/product-2.jpg" />
          <span
            >WORTH <br />
            $100</span
          >
        </div>

        <div class="col-md-7">
          <div class="every-day-right-sec">
            <h2>Your Resurfacing Ritual</h2>
            <p>
              Renew your complexion with this FREE 5-piece gift when<br />
              you spend $125+.*
            </p>
            <p>Use Code: RESURFACE</p>
            <a>Shop Now</a>
            <p>
              Valid until 2/7/21 11:59pm EST on purchases of $125 or more.
              Cannot be combined with any other coded promotions. Free gifts
              cannot be returned or exchanged for retail value. Free gifts may
              be changed or removed at any time. Not valid with purchases of
              sampling programs or gift cards. Where a free item is received as
              part of an offer and all or part of an order is refunded or
              cancelled the free item(s) must be returned with the product or
              your refund will be total due less the worth of the gift. We
              reserve the right to change and/or cancel the promotion at any
              time.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="every-day-inner">
      <div class="row">
        <div class="col-md-7">
          <div class="every-day-right-sec">
            <h2>Your Resurfacing Ritual</h2>
            <p>
              Renew your complexion with this FREE 5-piece gift when<br />
              you spend $125+.*
            </p>
            <p>Use Code: RESURFACE</p>
            <a>Shop Now</a>
            <p>
              Valid until 2/7/21 11:59pm EST on purchases of $125 or more.
              Cannot be combined with any other coded promotions. Free gifts
              cannot be returned or exchanged for retail value. Free gifts may
              be changed or removed at any time. Not valid with purchases of
              sampling programs or gift cards. Where a free item is received as
              part of an offer and all or part of an order is refunded or
              cancelled the free item(s) must be returned with the product or
              your refund will be total due less the worth of the gift. We
              reserve the right to change and/or cancel the promotion at any
              time.
            </p>
          </div>
        </div>

        <div class="col-md-5 every-day-left">
          <img src="assets/images/product-2.jpg" />
          <span
            >WORTH <br />
            $100</span
          >
        </div>
      </div>
    </div>

    <div class="every-day-inner">
      <div class="row">
        <div class="col-md-5 every-day-left">
          <img src="assets/images/product-2.jpg" />
          <span
            >WORTH <br />
            $100</span
          >
        </div>

        <div class="col-md-7">
          <div class="every-day-right-sec">
            <h2>Your Resurfacing Ritual</h2>
            <p>
              Renew your complexion with this FREE 5-piece gift when<br />
              you spend $125+.*
            </p>
            <p>Use Code: RESURFACE</p>
            <a>Shop Now</a>
            <p>
              Valid until 2/7/21 11:59pm EST on purchases of $125 or more.
              Cannot be combined with any other coded promotions. Free gifts
              cannot be returned or exchanged for retail value. Free gifts may
              be changed or removed at any time. Not valid with purchases of
              sampling programs or gift cards. Where a free item is received as
              part of an offer and all or part of an order is refunded or
              cancelled the free item(s) must be returned with the product or
              your refund will be total due less the worth of the gift. We
              reserve the right to change and/or cancel the promotion at any
              time.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
